<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Pacifico" rel="stylesheet">
	{{#if kidsmode}}
	<link rel="stylesheet" type="text/css" href="stylesheets/kids.css">
	{{/if}}
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<title>{{title}}</title>
	
	
	
</head>
<body>
	{{{body}}}
	
	<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>