<main class="main-header">
	<h1>{{title}}</h1>
	<h3>{{message}}</h3>
	<ul>
		<li><a class="get-posts" href="/adults">ADULTS</a> </li>

		<li><a href="/kids">KIDS</a> </li>
	</ul>

</main>
<footer>
		<i class="fab f39e fa-sm"></i>
		<i class="fab f16d fa-sm"></i>
		<i class="fab f099 fa-sm"></i>
	</footer>