<main class="main-header">
	<h1>{{ title }}</h1>
	<a href="javascript: window.history.go(-1)">No Thanks, Go Back</a>
	  <h2 >{{movies_title}}</h2>

			<video class="Trailers" controls autoplay>
			  <source src="/videos/{{movies_trailer}}" type="video/mp4">
			</video>

	  <p> {{movies_storyline}}</p>
	  	<i class="fab f39e fa-sm"></i>
		<i class="fab f16d fa-sm"></i>
		<i class="fab f099 fa-sm"></i>

</main>


