@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Pacifico');

body {
  padding: 2em;
  font: 1em 'Alegreya Sans', sans-serif;
  background-color: #770d3a;
  color:#fff;
}

a {
  color: #fff;
}
h1 {
	font-family: 'Pacifico', cursive;
	color: #fff;
	font-size:4em;
	
}
h3 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
	letter-spacing: 0.4em;
}
.main-header {
	text-align: center;
}
.main-header ul li {
	text-align: center;
	text-decoration: none;
	list-style: none;
	display:inline-block;
	padding:1em;
}